*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background: #07121b;
  color: #fff;
}
